/* ────────────────────
Base
──────────────────── */
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  font-family: futura-pt, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
  color: #333;
}

/* Optional */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Edge */
  color: #a0aec0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a0aec0;
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

/* ────────────────────
Components
──────────────────── */
.c-container {
  box-sizing: content-box; /* Optional */
  margin: 0 auto;
  padding: 0 28px;
  max-width: 42rem;
  height: 100%;
}
.c-container.\--full {
  max-width: none;
}
.c-container.\--no-pad {
  padding-left: 0;
  padding-right: 0;
}

.c-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .c-wrapper {
    flex-direction: row;
    padding: 0 40px;
  }
}

.c-header {
}
.c-header_inner {
  padding-top: 20px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .c-header {
  }
  .c-header_inner {
    padding-top: 100px;
    padding-right: 20px;
  }
}

.c-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .c-title {
  }
}

.c-main {
}
.c-main_inner {
  padding-bottom: 80px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .c-main {
  }
  .c-main_inner {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .c-main_inner section:first-child .c-subtitle {
    margin-top: 0;
  }
}

.c-subtitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 40px;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 768px) {
  .c-subtitle {
    margin-top: 72px;
  }
}

.c-sub2title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 0.5em;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .c-sub2title {
    margin-top: 28px;
  }
}

.c-inline-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.c-inline-list.\--small {
  font-size: 14px;
}
.c-inline-list li {
}
.c-inline-list li:not(:last-child) {
}
.c-inline-list li:not(:last-child)::after {
  content: '/';
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media screen and (min-width: 768px) {
  .c-inline-list {
  }
}

/* ────────────────────
Animations
──────────────────── */
[data-in='fade'] {
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
[data-in='fade'].\--in {
  opacity: 1;
  pointer-events: auto;
}

/* ────────────────────
Utilities
──────────────────── */
@media screen and (min-width: 768px) {
  .u-sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .u-pc {
    display: none !important;
  }
}

.u-text-link {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  transition: 0.1s;
  color: #666;
}
.u-text-link.\--line {
  transition: 0.2s;
  color: #999;
}
.u-text-link.\--line::after {
  position: absolute;
  content: '';
  left: -1px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: translateX(-100%);
  transition: 0.2s;
}
.u-text-link:hover {
  color: #000;
}
.u-text-link.\--line:hover::after {
  transform: translateX(0%);
}
