/* ────────────────────
Base
──────────────────── */
:root {
  --color-background: #fdfdfd;
  --color-divider: #ddd;
  --color-text-hard: #000;
  --color-text: #333;
  --color-text-link-main: #999;
  --color-text-link-sub: #555;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-divider: #4d4d4d;
    --color-background: #333;
    --color-text-hard: #fff;
    --color-text: #eee;
    --color-text-link-main: #999;
    --color-text-link-sub: #bfbfbf;
  }
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: futura-pt, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
}

/* ────────────────────
Components
──────────────────── */
.c-container {
  box-sizing: content-box; /* Optional */
  margin: 0 auto;
  padding: 0 28px;
  max-width: 42rem;
  height: 100%;
}
.c-container.\--full {
  max-width: none;
}
.c-container.\--no-pad {
  padding-left: 0;
  padding-right: 0;
}

.c-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .c-wrapper {
    flex-direction: row;
    padding: 0 40px;
  }
}

.c-header {
}
.c-header_inner {
  padding-top: 20px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .c-header {
  }
  .c-header_inner {
    padding-top: 100px;
    padding-right: 20px;
  }
}

.c-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .c-title {
  }
}

.c-main {
}
.c-main_inner {
  padding-bottom: 80px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .c-main {
  }
  .c-main_inner {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .c-main_inner section:first-child .c-subtitle {
    margin-top: 0;
  }
}

.c-subtitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 40px;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 768px) {
  .c-subtitle {
    margin-top: 72px;
  }
}

.c-sub2title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 0.5em;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .c-sub2title {
    margin-top: 28px;
  }
}

.c-inline-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.c-inline-list.\--small {
  font-size: 14px;
}
.c-inline-list li {
  display: flex;
}
.c-inline-list li:not(:last-child) {
}
.c-inline-list li:not(:last-child)::after {
  content: '/';
  padding-right: 4px;
  padding-left: 4px;
  color: var(--color-divider);
}
@media screen and (min-width: 768px) {
  .c-inline-list {
  }
}

/* ────────────────────
Animations
──────────────────── */
[data-in='fade'] {
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
[data-in='fade'].\--in {
  opacity: 1;
  pointer-events: auto;
}

/* ────────────────────
Utilities
──────────────────── */
@media screen and (min-width: 768px) {
  .u-sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .u-pc {
    display: none !important;
  }
}

.u-property {
  position: relative;
}
.u-property::after {
  content: ':';
  margin-right: 8px;
}

.u-text-link {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  color: var(--color-text-link-sub);
}
.u-text-link.\--line {
  transition: 0.2s;
  color: var(--color-text-link-main);
}
.u-text-link.\--line::after {
  position: absolute;
  content: '';
  left: -1px;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background-color: var(--color-text-hard);
  transform: translateX(-100%);
  transition: 0.2s;
}
.u-text-link:hover {
  color: var(--color-text-hard);
}
.u-text-link.\--line:hover::after {
  transform: translateX(0%);
}
